{% extends "./layouts/base.html" %}
{% block contenido %}
    <style>
        .root .contenido-ppal {
            padding:45px !important;
        }
    </style>

</head>
<body>

    <div class="root">

        <main class="contenido-ppal">

            <section class="titulo-novedades">
                <h2>Novedades</h2>
            </section>

            <section class="contenedor-noticias">
                <div class="noticias">
                    <div class="bloque">
                        <a href="#">
                            <img src="https://cmambrosetti.com.ar/images/uploads/noticias/post_image_35.jpg?=123293" class="img-noticias" alt="imagen noticia">
                        </a> 
                        <div class="cuerpo-bloque">
                            <h3 class="titulo-noticia">Equipos de última generación</h3>
                            <p class="texto-noticia">Cuenta con garantía de las empresas Draguer, Stryker, Olympus y Carrier, entre otros.</p>
                            <a class="button-noticia" href="#">ver más</a>
                        </div>
                    </div>
                </div>

                <div class="noticias">
                    <div class="bloque">
                        <a href="#">
                             <img src="https://cmambrosetti.com.ar/images/uploads/noticias/post_image_36.jpg?=123293" class="img-noticias" alt="imagen noticia">
                        </a>
                        <div class="cuerpo-bloque">
                            <h3 class="titulo-noticia">¡Te cuidamos!</h3>
                            <p class="texto-noticia">Recientemente hemos recibido la certificación IRAM PROTOCOLO COVID verificado.</p>
                            <a class="button-noticia" href="#">ver más</a>
                        </div>
                    </div> 
                </div>

                <div class="noticias">
                    <div class="bloque">
                        <a href="#">
                            <img src="https://cmambrosetti.com.ar/images/uploads/noticias/post_image_33.jpg?=123293" class="img-noticias" alt="imagen noticia">
                        </a>
                        <div class="cuerpo-bloque">
                            <h3 class="titulo-noticia">Text Neck</h3>
                            <p class="texto-noticia">El text neck (o cuello de texto) es una de las denominadas enfermedades tecnológicas...</p>
                            <a class="button-noticia" href="#">ver más</a>
                        </div>
                    </div> 
                </div>

                <div class="noticias">
                    <div class="bloque">
                        <a href="#">
                            <img src="https://cmambrosetti.com.ar/images/uploads/noticias/post_image_32.jpg?=123293" class="img-noticias" alt="imagen noticia">
                        </a>
                        <div class="cuerpo-bloque">
                            <h3 class="titulo-noticia">Definición de contacto estrecho</h3>
                            <p class="texto-noticia">Conozca los criterios para la identificación de un contacto estrecho de COVID-19...</p>
                            <a class="button-noticia" href="#">ver más</a>
                        </div>
                    </div>
                </div>

                
                <div class="noticias">
                    <div class="bloque">
                        <a href="#">
                            <img src="https://cmambrosetti.com.ar/images/uploads/noticias/post_image_31.jpg?=123293" class="img-noticias" alt="imagen noticia">
                        </a>
                        <div class="cuerpo-bloque">
                            <h3 class="titulo-noticia">Definición de caso sospechoso</h3>
                            <p class="texto-noticia">Conozca los criterios para la identificación de un caso sospechoso de COVID-19...</p>
                            <a class="button-noticia" href="#">ver más</a>
                        </div>
                    </div>
                </div>

                <div class="noticias">
                    <div class="bloque">
                        <a href="#" class="last-a">
                            <img src="https://www.mp.com.uy/wp-content/uploads/2022/09/Salud-cardiovascular-y-deporte-thumb-400x250.jpg" class="img-noticias" alt="imagen noticia" id="img-salud">
                        </a>
                        <div class="cuerpo-bloque">
                            <h3 class="titulo-noticia">Salud cardiovascular y deporte</h3>
                            <p class="texto-noticia">Está ampliamente demostrado el beneficio del deporte en nuestra salud cardiovascular...</p>
                            <a class="button-noticia" href="#">ver más</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- SE RECUPERAN LOS DATOS DESDE LA API COVID-19 EN VIVO -->
            <section class="api">
                <h2 class="titulo-covid">Status COVID - 19</h2>
                <div id="app">
                    <div class="conteiner-covid">
                        <h3 class="argentina-covid"> {{ data[0]['Country'] }} </h3>
                        <div class="conteiner-lista-covid">
                            <ul class="padre-covid">
                                <li class="item-covid"><span class="info-covid">Actualizado:</span>  {{ data[0]['Active'] }}</li>
                                <!-- <li class="item-covid"><span class="info-covid">Población:</span> {{data.population}}</li> -->
                                <li class="item-covid"><span class="info-covid"> Casos confirmados:</span> {{ data[0]['Confirmed'] }}</li>
                                <li class="item-covid"><span class="info-covid">Muertes:</span> {{ data[0]['Deaths'] }}</li>
                                <li class="item-covid"><span class="info-covid"> Recuperados:</span> {{ data[0]['Recovered'] }}</li>
                                <!-- <li class="item-covid"><span class="info-covid">Expectativa de vida:</span> {{data.life_expectancy}}</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

           
        </main>

        <aside class="aside">

            <div class="infobar-aside">
                <div class="item1">
                    <img src="{{ url_for('static', filename='img/direccion.svg') }}" alt="Icon Dirección" class="item-icon1">
                    <span class="direccion"><a href="https://www.google.com.ar/maps/place/Florida+325+c1005,+C1005AAG+CABA/@-34.6042749,-58.3761541,18z/data=!3m1!4b1!4m5!3m4!1s0x95bccacda4c17dc9:0x75b394bd29700b01!8m2!3d-34.6042771!4d-58.3750598" target="_blank">Florida 325</a></span>
                </div>
                <div class="item2">
                    <img src="{{ url_for('static', filename='img/telefono.svg') }}" alt="Icon Teléfono" class="item-icon2">
                    <span class="telefono">4581-8538</span>
                </div>
                <div class="item3">
                    <img src="{{ url_for('static', filename='img/whatsapp.svg') }}" alt="Icon Whatsapp" class="item-icon3">
                    <span class="whatsapp">11 4805-7548</span>
                </div>
                <div class="item4">
                    <img src="{{ url_for('static', filename='img/horario.svg') }}" alt="Icon Horario" class="item-icon4">
                    <span class="horario">Lun a Vie:8 a 20hs.</span>
                </div>
            </div>

        </aside>

    </div>
</body>
</html>
{% endblock %}