/* CONFIGURACIÓN BÁSICA DE LOS MODALES */

.contenedor-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(50, 50, 50, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 10;
}

.modal {
    display: none;
    flex-direction: column;
    width: 90vw;
    min-height: 30vh;
    max-width: 500px;
    border-radius: 10px;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0.7em;
    font-size: 1.3em;
}

.btn-modal-cerrar {
    padding: 2px 6px;
    border: 1px solid;
    border-radius: 5px;
    transition: background-color 0.2s ease-in;
}

.modal-body {
    flex-grow: 1;
    padding: 0.5em 1em;
}

.modal-body a {
    text-decoration: underline;
    color: blue;
    font-size: 0.85em;
}

.modal-body > form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;    
}

.modal-body > form > * {
    margin: 8px 0;
    border: none;
}

.modal-body > form > a {
    text-align: center;
}

.modal-body input {
    width: 100%;
}

[class*="label-"] > * {
    margin: 0 0 4px 0;
}

.label-textbox {
    display: flex;
    flex-direction: column;
}

.label-textbox input {
    border: none;
    outline: none;
    padding: 0.4em;
}

.label-checkbox {
    display: flex;
    justify-content: space-between;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* DISEÑO DE MODALES */

.modal-generico {
    background-color: #F2F2F2;
}

.modal-generico .modal-header {
    background: linear-gradient(180deg, #00A9B0 0%, rgba(135, 232, 252, 0.5) 77%, rgba(214,212,27,0) 100%);
}

.modal-generico .modal-header .btn-modal-cerrar {
    background: linear-gradient(180deg, rgba(0, 169, 176,0.2) 0%, rgba(135, 232, 252, 0.5) 77%, rgba(214,212,27,0) 100%);;
    color: black;
    font-weight: 900;
    border: none;
    font-size: 1em;
}

.modal-generico .btn-modal-cerrar:hover {
    background: linear-gradient(180deg, rgb(61, 204, 233,0.2) 0%, rgba(210, 237, 84,0.5) 77%, rgba(214,212,27,0) 100%);
    color:  black;
}

.modal-generico .modal-body form button {
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 0;
    color: white;
    background-color:  rgb(61, 204, 233);
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.modal-generico .modal-body form button:hover {
    color:  black;
    background: linear-gradient(96deg, rgb(61, 204, 233) 0%, #D2ED54 100%);
}

.modal-generico .modal-body form input:focus {    
    background: linear-gradient(to bottom, transparent,  #D2ED54);
}