*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GRID CONFIG */
.root {
    display: grid;
    width: 95%;
    max-width: 2000px;
    margin: 20px auto;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header header header header"
    "main main main aside"
    "main main main aside"
    "footer footer footer footer";   
}

/* Parámetros generales */
.root > div,
.root .encabezado,
.root .contenido-ppal,
.root .aside,
.root .pie {
	background: #F2F2F2;
	padding: 20px;
	border-radius: 4px;
}

body {
    background-color: white;
    color: black;
    font-family: "Sofia", sans-serif;
    /* font-family: Lato; */
}

/* HEADER CONFIG FLEX PADRE */
.root .encabezado {
    /* background-color: #43919B; */
    background-color: #F2F2F2;
    color: #323436;
    grid-area: header;
    display: flex; 
    justify-content: space-evenly;
    align-content:space-between;
    box-shadow: 0 0 0.5rem rgb(83,78,76);
    flex: 1 1 auto;
    height: 100%;
    padding: 5px;
}

/* ITEMS HEADER (FLEX) */
.logo-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 4px;
    /* border: 1px solid #247881; */
    width: 3.5%;
    overflow: auto;
    min-width: 65px;
    max-height: 71px;  /* <-- ESTAS MEDIDAS SON PARA EL LOGO ACTUAL IMPROVISADO. AJUSTAR A NUESTRO LOGO*/
}

.logo img {
    width: 100%;
}

/* TOP NAVBAR */
.top-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    border-radius: 4px;
    border: 1px solid #237881;
    width: 90%;
    height: 50%;
    margin-left: 1rem;
    font-size: 1rem;
    overflow: auto;
}

/* PADRE NAVBAR */
.resto-header {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #237881;
    width: 90%;
    height: 50%;
    margin-left: 1rem;
    font-size: 1rem;
    overflow: auto;
}

/* NAVBAR CONFIG */
.nav-bar {
    height: 60%;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar li {
    float: left;
    font-weight: 700;
    text-align: center;
    margin: 0 0.5rem 0.5rem;
    text-decoration: none;
    width: auto;
}

.nav-bar li a {
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 5px black;
    color: #00A9B0;
    padding: 0.2rem;
}

.nav-bar li a:hover {
    color: #00FFC6; /* <-- PROVISIONAL */
}

/* PADRE FLEX LOG IN + ICONS */
.flex-log-icon {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    border: 1px solid #237881;
    margin: 0 5rem 0.2rem 0.5rem 0.2rem ;
    padding: 0.5rem;
    max-width: 125.38px;
    min-width: 125.38px;
    max-height: 73px;
}

.log-in {
    margin: 0 1px 0 10px;
}

.log-in a {
    text-decoration: none;
    color: white;
    padding: 0.25rem 1rem 0.25rem 1rem;
    width: 9rem;
    border-radius: 10px;
    background: linear-gradient(96deg, rgb(61, 204, 233) 0%, rgb(135, 232, 252) 100%);
    /* transition: all 2s ease-in-out; */
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.log-in a:hover {
    color: white;
    background: linear-gradient(96deg, rgb(61, 204, 233) 0%, #D2ED54 100%);
}

.icons-nav {
    align-self: center;
}

.icons-nav a:hover {
    color: #00FFC6; /* <--PROVISIONAL*/
}

/* MAIN CONTENT */
.root .contenido-ppal {
    grid-area: main;
    box-shadow: 0 0 0.5rem rgb(83,78,76);
}

/* SIDEBAR */
.root .aside {
    background-color: #30AADD;
    grid-column: 4 / 5;
    grid-row: 2/ 4;
	text-align: center;
	min-height: 50px;
    grid-area: aside;
    box-shadow: 0 0 0.5rem rgb(83,78,76);
}

/* FOOTER CONFIG */
.root .pie {
    background-color: #43919B;
    color: #323436;
    grid-area: footer;
    box-shadow: 0 0 0.5rem rgb(83,78,76);
}

/* BREAKPOINTS */
@media screen and (max-width: 992px){
	.root {
		grid-template-areas: "header header header header"
						 "aside main main main"
						 "aside main main main "
						 "footer footer footer footer";
	}
 }  /* CAMBIAR ESTO */

@media screen and (max-width: 600px){
	.root {
		grid-template-areas: "header header header header"
						    "main main main main"
						    "aside aside aside aside"
						    "footer footer footer footer";
	}
}

/* FONT BREAKPOINTS */
@media (min-width: 1360px){
    .root {
    font-size: 1.8rem;
    }
}

@media (min-width: 1280px){
    .root {
    font-size: 1.6rem;
    }
}

@media (min-width: 1024px) {
    .root {
    font-size: 1.4rem;
    }
}

@media (min-width: 768px) {
    .root {
    font-size: 1.2rem;
    }
}

@media (max-width: 662px) {
    .root {
    font-size: 1rem;
    }
}


